body {
    text-align: center;
    background: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}
canvas {
    background: #ffffff;
    border-bottom: 3px solid #333;
    display: block;
    margin: 50px auto;
}
h1 {
    color: #333;
}
